@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');


*,::before,::after { 
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body{
    background-color: #e5e5fa;
}
.pulse{
    height: 150px;
    width: 150px;
    background: linear-gradient(
        #8a82fb,
        #407ed7
    );
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    font-size: 50px;
    display: grid;
    place-items: center;
    color: #ffffff;
}
.pulse::before,
.pulse::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #8a82fb;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.7;
}

.pulse::before{
    animation: pulse 2s ease-out infinite;
}
.pulse::after{
    animation: pulse 2s 1s ease-out infinite;
}

@keyframes pulse {
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}